*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
  line-height: 26px;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Space Mono", monospace;
}

::placeholder {
  opacity: 1;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 20px 0 26px 0;
}
.top-bar__theme-switcher {
  display: flex;
  gap: 0.7rem;
  color: #4b6A9B;
  font-weight: 700;
  font-family: inherit;
  letter-spacing: 2.5px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.search-bar {
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 95%;
  margin: 0 auto;
  padding: 0.5rem;
  height: 60px;
}
.search-bar__input {
  width: 60%;
  height: 60px;
  font-family: inherit;
  padding-left: 0.5rem;
  border: 0;
  color: #4b6A9B;
}

.btn-search {
  background-color: #0079FF;
  border: 0;
  width: 84px;
  border-radius: 15px;
  color: #FFF;
  padding: 1rem;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  z-index: 1000;
}

.search-bar > svg:nth-child(1) {
  margin-left: 0.5rem;
}

.display {
  border-radius: 20px;
  max-width: 95%;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.profile {
  display: grid;
  grid-template-columns: 100px 1fr;
  padding: 1rem;
}
.profile__picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.profile__username {
  color: #0079FF;
}
.profile__bio {
  color: #4b6A9B;
  grid-column: 1/-1;
  margin-top: 2.0625rem;
}

.stats {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  padding: 18px;
  text-align: center;
}
.stats__repos {
  font-size: 11px;
  margin-bottom: 8px;
}
.stats__repo-number {
  font-size: 24px;
  font-weight: 700;
}
.stats__followers {
  font-size: 11px;
  margin-bottom: 8px;
}
.stats__followers-number {
  font-size: 24px;
  font-weight: 700;
}
.stats__following {
  font-size: 11px;
  margin-bottom: 8px;
}
.stats__following-number {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.5rem;
  padding: 0.5rem;
}
.links__location, .links__twitter, .links__website, .links__company {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 3px;
}
a {
  text-decoration: none;
}

input:focus {
  outline: 1px dotted #697C9A;
}

#icon-moon {
  display: block;
}

#icon-sun {
  display: none;
}

body.light {
  background-color: #F6F8FF;
}

h1.light {
  color: #222731;
}

.profile__name.light,
.profile__joined.light,
.profile__bio.light {
  color: #697C9A;
}

.search-bar.light,
.search-bar__input.light {
  background-color: #FFF;
}

.stats.light {
  background-color: #F6F8FF;
}

.stats__repos.light,
.stats__followers.light,
.stats__following.light {
  color: #4b6A9B;
}

.stats__repo-number.light,
.stats__followers-number.light,
.stats__following-number.light {
  color: #2B3442;
}

.display.light {
  background-color: #FEFEFE;
}

.display.light,
.search-bar.light {
  box-shadow: 0px 5px 10px 0px rgba(184, 184, 184, 0.75);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(184, 184, 184, 0.75);
  -moz-box-shadow: 0px 5px 10px 0px rgba(184, 184, 184, 0.75);
}

.search-bar__input.light {
  color: #4b6A9B;
}

.links.light {
  color: #4b6A9B;
}

a.light {
  color: #4b6A9B;
}

.links__icons.light path {
  fill: #4b6A9B;
}

body.dark {
  background-color: #141D2F;
}

h1.dark {
  color: #FFF;
}

.profile__name.dark,
.profile__joined.dark,
.profile__bio.dark {
  color: #FFF;
}

.search-bar.dark,
.search-bar__input.dark,
.display.dark {
  background-color: #1E2A47;
}

.stats.dark {
  background-color: #141D2F;
}

.stats__repos.dark,
.stats__followers.dark,
.stats__following.dark {
  color: #FFF;
}

.stats__repo-number.dark,
.stats__followers-number.dark,
.stats__following-number.dark {
  color: #FFF;
}

.display.dark,
.search-bar.dark {
  box-shadow: 0;
}

.search-bar__input.dark {
  color: #FFF;
}

.links.dark {
  color: #FFF;
}

a.dark {
  color: #FFF;
}

.links__icons.dark path {
  fill: #FFF;
}

/*# sourceMappingURL=style.css.map */
