// LIGHT MODE COLORS
$color-blue-primary: #0079FF;
$color-slate-grey: #697C9A;
$color-steel-blue: #4b6A9B;
$color-navy-blue: #2B3442;
$color-white-grey: #F6F8FF;
$color-white-smoke: #FEFEFE;

// DARK MODE COLORS
$color-white: #FFF;
$color-dark-navy: #141D2F;
$color-dark-steel: #1E2A47;


$font-family: 'Space Mono', monospace;
$font-bold: 700;
