@use "../abstracts/variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
  line-height: 26px;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: $font-family;
}

main {
}

$bp-tablet: 600px;

h1 {
  // color: #222731;
}

::placeholder {
  opacity: 1;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 20px 0 26px 0;

  &__theme-switcher {
    display: flex;
    gap: 0.7rem;
    color: $color-steel-blue;
    font-weight: $font-bold;
    font-family: inherit;
    letter-spacing: 2.5px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  // &__theme-icon {
  //   margin-top: 0;
  // }
}

// Search Bar
.search-bar {
  // background-color: $color-white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 95%;
  margin: 0 auto;
  padding: 0.5rem;
  height: 60px;

  &__input {
    width: 60%;
    height: 60px;
    font-family: inherit;
    padding-left: 0.5rem;
    border: 0;
    color: $color-steel-blue;
  }

  &__error-message {
    display: none;
    color: $color-red-error;
    font-weight: $font-bold;
    font-size: 13px;
    padding-right: 5px;
    // width: 125px;
  }
}

.btn-search {
  background-color: $color-blue-primary;
  border: 0;
  width: 84px;
  border-radius: 15px;
  color: $color-white;
  padding: 1rem;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  z-index: 1000;

  @media only screen and (min-width: $bp-tablet) {
    width: 106px;
  }
}

.search-bar > svg:nth-child(1) {
  margin-left: 0.5rem;
}

.search-bar__input {
  @media only screen and (min-width: $bp-tablet) {
    font-size: 18px;
    width: 70%;
  }
}

.display {
  // background-color: $color-white-smoke;
  border-radius: 20px;
  max-width: 95%;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin-bottom: 2rem;
}

//profile
.profile {
  // border: 2px solid red;
  display: grid;
  grid-template-columns: 100px 1fr;
  padding: 1rem;

  &__picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;

    @media only screen and (min-width: $bp-tablet) {
      width: 117px;
      height: 117px;
    }
  }

  &__name {
  }

  &__username {
    color: $color-blue-primary;
  }

  &__joined {
    // color: $color-slate-grey;
  }

  &__bio {
    color: $color-steel-blue;
    grid-column: 1/-1;
    margin-top: 2.0625rem;
  }

  &__right-content {
    @media only screen and (min-width: $bp-tablet) {
      padding-left: 41px;
      padding-top: 1rem;
    }
  }
}

// stats
.stats {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  padding: 18px;
  text-align: center;

  @media only screen and (min-width: $bp-tablet) {
    width: 95%;
    margin: 0 auto;
  }

  &__left {
  }

  &__repos {
    font-size: 11px;
    margin-bottom: 8px;
  }

  &__repo-number {
    font-size: 24px;
    font-weight: $font-bold;
  }

  &__middle {
  }

  &__followers {
    font-size: 11px;
    margin-bottom: 8px;
  }

  &__followers-number {
    font-size: 24px;
    font-weight: $font-bold;
  }

  &__right {
  }

  &__following {
    font-size: 11px;
    margin-bottom: 8px;
  }

  &__following-number {
    font-size: 24px;
    font-weight: $font-bold;
    margin-bottom: 8px;
  }
}

.stats__repo-number,
.stats__followers-number,
.stats__following-number {
  @media only screen and (min-width: $bp-tablet) {
    text-align: left;
  }
  
}

//links
.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.5rem;
  padding: 0.5rem;

  @media only screen and (min-width: $bp-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 3rem;
  }

  &__location,
  &__twitter,
  &__website,
  &__company {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 3px;
  }

  &__location {
  }

  &__twitter {
  }

  &__website {
  }

  &__company {
  }
}

a {
  // color: $color-steel-blue;
  text-decoration: none;
}

input:focus {
  outline: 1px dotted $color-slate-grey;
}

//ICONS
#icon-moon {
  display: block;
}

#icon-sun {
  display: none;
}

.not-available {
  color: grey;
}

.na {
  opacity: 0.75;
  // pointer-events: none;
  // cursor: default;
}

//LIGHT THEMES

body.light {
  background-color: $color-white-grey;
}

h1.light {
  color: #222731;
}

.profile__name.light,
.profile__joined.light,
.profile__bio.light {
  color: $color-slate-grey;
}

.search-bar.light,
.search-bar__input.light {
  background-color: $color-white;
}

.stats.light {
  background-color: $color-white-grey;
}

.stats__repos.light,
.stats__followers.light,
.stats__following.light {
  color: $color-steel-blue;
}

.stats__repo-number.light,
.stats__followers-number.light,
.stats__following-number.light {
  color: $color-navy-blue;
}

.display.light {
  background-color: $color-white-smoke;
}

.display.light,
.search-bar.light {
  box-shadow: 0px 5px 10px 0px rgba(184, 184, 184, 0.75);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(184, 184, 184, 0.75);
  -moz-box-shadow: 0px 5px 10px 0px rgba(184, 184, 184, 0.75);
}

.search-bar__input.light {
  color: $color-steel-blue;
}

.links.light {
  color: $color-steel-blue;
}

.links__icons.light path {
  fill: $color-steel-blue;
}

// DARK THEMES

body.dark {
  background-color: $color-dark-navy;
}

h1.dark {
  color: $color-white;
}

.profile__name.dark,
.profile__joined.dark,
.profile__bio.dark {
  color: $color-white;
}

.search-bar.dark,
.search-bar__input.dark,
.display.dark {
  background-color: $color-dark-steel;
}

.stats.dark {
  background-color: $color-dark-navy;
}

.stats__repos.dark,
.stats__followers.dark,
.stats__following.dark {
  color: $color-white;
}

.stats__repo-number.dark,
.stats__followers-number.dark,
.stats__following-number.dark {
  color: $color-white;
}

.display.dark,
.search-bar.dark {
  box-shadow: 0;
}

.search-bar__input.dark {
  color: $color-white;
}

.links.dark {
  color: $color-white;
}

.links__icons.dark path {
  fill: $color-white;
}

//LINKS

a:link,
a:visited {
  color: $color-steel-blue;
}

a:hover,
a:active {
  color: $color-white;
}

.light a:link,
.light a:visited {
  color: $color-steel-blue;
}

.light a:hover,
.light a:active {
  color: $color-steel-blue;
}

.dark a:link,
.dark a:visited {
  color: $color-white;
}

.dark a:hover,
.dark a:active {
  color: $color-white;
}
